div.logo {
  position: absolute;
  padding: 10px;
}

div.date-pres {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 20px;
  vertical-align: middle;
  padding: 40px 10px;
}

img#good-parts {
  width:300px; /* you can use % */
  height: auto;
}

div.urls ul li {
  margin-bottom: 10px;
}

div.urls {
    margin: 50px;
    font-size: 50%;
    text-align: left;
}

div.urls a {
font-style: italic;
}

.code pre {
  font-size: 40%;
}

div.contenu {
    margin: 50px;
    font-size: 50%;
    text-align: left;
}
